---
layout: default
---
<h1>
  Hello!
</h1>
<article>
  <p><img style="float: left; margin-right: 1.5em;" src="https://thenush.github.io/assets/img/drg.jpeg" alt="drawing" width="200" /></p>

<p>I am a second year Computer Science Ph.D. student at the <a href="https://scai.engineering.asu.edu" target="_blank">School of Computing and Augmented Intelligence</a> at Arizona State University, where I am fortunate to be advised by <a href="https://search.asu.edu/profile/198256" target="_blank">Prof. Andréa Richa</a>.</p>

<p>My research interests are currently two-fold:</p>
<ul>
  <li><em>Theoretical</em>: Markov chain processes in statistical physics and distributed computing.</li>
  <li><em>Applied</em>: Multi-agent problems that can be formulated as DecPOMDPs.</li>
</ul>

<p>In my free time I enjoy reading, gaming, and traveling.</p>

<h3>Latest Updates:</h3>
<ul>
    <li>June 16th to 21st - Attending workshop on <em>Stochastic Thermodynamics and Computation Theory - II</em> at the Santa Fe Institute, NM. </li>
</ul>

</article>
<!--
{% for post in paginator.posts %}
  <div class="posts-container">
    <h1>
      <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
    </h1>
    {% if post.image %}
      <div class="thumbnail-container">
        <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
      </div>
    {% endif %}
    <p>
      {{ post.content | strip_html | truncate: 350 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
      <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
    </p>
  </div>
{% endfor %}
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
-->
